<div class="header-content">
  <a href="/projects/kochwelt/index.html">
    <img src="/projects/kochwelt/assets/img/icons/logo.png" />
  </a>
  <nav id="nav">
    <a class="start hide-mobile" href="/projects/kochwelt/index.html">Start</a>
    <a class="recipe hide-mobile" href="/projects/kochwelt/pages/lagnase-bolognese.html">Rezept des Tages</a>
    <a class="kontackt hide-mobile" href="/projects/kochwelt/pages/contact.html">Kontakt</a>
    <a class="impressum hide-mobile" href="/projects/kochwelt/pages/impressum.html">Impressum</a>
  </nav>

  <img onclick="mobile_menu()" class="mobile" src="/projects/kochwelt/assets/img/icons/menu-nutton.png"/>
  <div class="mobile-div" id="mobile-nav">
    <div class="mobile-content">
      <img onclick="mobile_menu()" class="x" src="/projects/kochwelt/assets/img/icons/x.png.png"/>
      <a class="start mobil-link" href="/projects/kochwelt/index.html">Start</a>
      <a class="recipe mobil-link" href="/projects/kochwelt/pages/lagnase-bolognese.html">Rezept des Tages</a>
      <a class="kontackt mobil-link" href="/projects/kochwelt/pages/contact.html">Kontakt</a>
      <a class="impressum mobil-link" href="/projects/kochwelt/pages/impressum.html">Impressum</a>
    </div>
  </div>
</div>

<script src="/projects/kochwelt/js/header.js"></script>
